<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vacation Booking</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="icon" href="imgs/fav.png" type="image/png" />
    <script src="js/home.js" defer></script>
  </head>
  <body>
    <main>
      <section class="booking-card">
        <header class="card-hero">
          <h1 class="card-title">Book Your Dream Vacation</h1>
        </header>
        <div class="card-body">
          <form id="booking-form" action="/submit-booking" method="post">
            <fieldset class="row">
              <div class="field">
                <label for="destination">Destination</label>
                <select id="destination" name="destination">
                  <option value="" disabled selected>
                    Choose a destination...
                  </option>
                  <option value="bali">Bali, Indonesia</option>
                  <option value="paris">Paris, France</option>
                  <option value="tokyo">Tokyo, Japan</option>
                  <option value="maldives">Maldives</option>
                  <option value="nyc">New York City, USA</option>
                </select>
                <span class="err" id="err-destination"
                  >Please select a destination</span
                >
              </div>
            </fieldset>
            <fieldset class="row row-2">
              <div class="field">
                <label for="departure">Departure Date</label>
                <input
                  type="date"
                  id="departure"
                  name="departure"
                  value="2026-02-11"
                />
              </div>
              <div class="field">
                <label for="travelers">Number of travelers</label>
                <input
                  type="number"
                  id="travelers"
                  name="travelers"
                  value="0"
                />
                <span class="err" id="err-travelers"
                  >Please enter a number greater than 0</span
                >
              </div>
            </fieldset>
            <button type="submit" name="submit">Find My Vacation</button>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>
        GitHub Repository:
        <a
          class="footer-link"
          href="https://github.com/onjamm/midterm305"
          target="_blank"
          >https://github.com/onjamm/midterm305</a
        >
      </p>
    </footer>
  </body>
</html>
