* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background-color: rgb(23, 23, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(740px, 90vw);
  min-width: 360px;
}

.booking-card {
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.card-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/imgs/banner.jpg);
  background-size: cover;
  background-position: center;
}
.card-title {
  text-align: center;
  color: white;
}

.card-body {
  background-color: white;
  padding: 2.25rem;
  height: 50vh;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 1.5rem;
  color: black;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.row-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

label {
  display: block;
  margin-bottom: 0.9rem;
  font-weight: 600;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
}

select option {
  font-weight: 500;
}

button[type="submit"] {
  display: block;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: white;
  margin: 1.5rem auto 0;
  padding: 0.75rem 4rem;
  border-radius: 32px;
  border: none;
  font-size: 1.05rem;
  cursor: pointer;
  font-weight: 500;
}

.err {
  color: red;
  display: none;
}

footer {
  margin-top: auto;
  padding: 1rem 0;
  text-align: center;
}

footer p {
  color: white;
}

.footer-link {
  color: lightskyblue;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.footer-link:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .row-2 {
    grid-template-columns: 1fr;
  }

  .card-body {
    height: auto;
  }

  main {
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
  }

  footer {
    padding: 0.5rem 0 0.75rem;
  }
}
